@model List<SiteAlarm>

<table>
    <thead>
        <tr>
            <th>Site</th>
            <th>Time Stamp</th>
            <th>Message</th>
            <th>Ack</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            
            <tr>
                <td>@item.Site</td> 
                <td>@item.TimeStamp</td>
                <td>@item.Message</td>
                <td>@item.Ack</td>
                <td>@item.Note</td>
            </tr>
            
        }
    </tbody>
</table>
