@model List<ActiveSites>

<table>
    <tbody>
        @foreach (var item in Model)
        {
            
            <tr>
                <td>@item.Site</td> 
                <td>@item.TimeStamp</td>
                <td>@item.Message</td>
                <td>@item.Ack</td>
                <td>@item.Note</td>
            </tr>
            
        }
    </tbody>
</table>
